h1 Appearance
h4 Gender
.row
  .col-xs-12
    .form-group
      select.form-control(ng-model='character.gender', ng-options='v for v in struct.gender.options')
h4 Hair
h4 Face
h4 Body
.row
  .col-xs-12
    a.btn.btn-default(ui-sref='character-create.history') &laquo; Back
    =' '
    a.btn.btn-primary(ui-sref='character-create.name') Next &raquo;
