h1 Appearance
h4 Gender
.row
  .col-xs-12
    .form-group
      select.form-control(ng-model='character.gender', ng-options='v for v in struct.gender.options')
.row
  .col-xs-12
    h4 Hair
    p.text-muted
      | Note that not all hair colors and styles are represented here.
      | Some may be accessed throughout the game in various professions or other means.
  .col-xs-4
    .form-group
      select.form-control(ng-model='character.hair.color', ng-options='v for v in struct.hair.color.options')
h4 Face
h4 Body
.row
  .col-xs-12
    a.btn.btn-default(ui-sref='character-create.history') &laquo; Back
    =' '
    a.btn.btn-primary(ui-sref='character-create.name') Next &raquo;
