div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      h1 Email
    .col-sm-12
      form(role='form', name='emailForm', ng-submit='changeEmail(emailForm)', novalidate='')
        .form-group.has-feedback
          label(for="email") New Email
          input.form-control#email(type='email', name='email', ng-model='user.email', placeholder='ex. me@awesome.com')
          p.help-block(ng-show='!emailForm.email.$valid && emailSubmitted && !emailForm.email.$error.mongoose')
            | Email not valid
          p.help-block(ng-show='emailForm.email.$error.mongoose')
            | {{ errors.email }}

        p.help-block  {{ emailMessage }}

        button.btn.btn-lg.btn-primary(type='submit') Save changes
  .row
    .col-sm-12
      h1 Change Password
    .col-sm-12
      form.form(name='pwdForm', role='form', ng-submit='changePassword(pwdForm)', novalidate='')
        .form-group
          label(for="oldPass") Current Password
          input.form-control#oldPass(type='password', name='password', ng-model='user.oldPassword', mongoose-error='')
          p.help-block(ng-show='pwdForm.password.$error.mongoose')
            | {{ errors.other }}
        .form-group
          label(for="newPass") New Password
          input.form-control#newPass(type='password', name='newPassword', ng-model='user.newPassword', ng-minlength='3', required='')
          p.help-block(ng-show='(pwdForm.newPassword.$error.minlength || pwdForm.newPassword.$error.required) && (pwdForm.newPassword.$dirty || pwdSubmitted)')
            | Password must be at least 3 characters.
        .form-group
          label(for="passwordConfirm") Confirm New Password
          input.form-control#passwordConfirm(type='password', name='passwordConfirm', ng-model='passwordConfirm', ng-minlength='3', required='\
          ', ng-confirm-field='', confirm-against="user.newPassword")
          p.help-block(ng-show='pwdForm.passwordConfirm.$error.noMatch && pwdSubmitted')
            | Passwords must match.


        p.help-block  {{ pwdMessage }}

        button.btn.btn-lg.btn-primary(type='submit') Save changes
