section.container-fluid.miri
  section.row.characters
    .col-xs-2
    .col-xs-4
      h4.text-center Empty
      .panel.panel-default
        .panel-body
          p.text-center
            button.btn.btn-success.btn-lg Create
    .col-xs-4
      h4.text-center
        | Karthas
        =' '
        small necromancer
      .panel.panel-default
        .panel-body
          dl.dl-horizontal
            dt Current Location
            dd The Miri - Thelun - Dimril Forest
          p.text-center
            button.btn.btn-primary.btn-lg Play
    .col-xs-2

