section.container-fluid.miri
  section.row
    .col-xs-4
      br
      br
      p This column should show an overview of your character so far.
    .col-xs-8.end
      .row
        .col-xs-6
          div(ui-view='')
