section.container-fluid.miri
  h1 Character Select
  section.row.main.hide
    .col-xs-1
      h5 Status
      h5 Effects
    .col-xs-8.equalizer.message-container
      h5 Main window
      .row(ng-repeat="data in messages track by $index")
        .col-xs-12.message(ng-class="data.type")
          .row
            .col-xs-1
              i(ng-class="data.icon", class="fa")
            .col-xs-11
              span(compile="data.msg | messageParser")
    .col-xs-3
      .row
        .col-xs-12
          h5 MiniMap
      .row
        .col-xs-12
          h5 Details
  section.row.bottom.hide
    .col-xs-12
      .row.row-xs-flex
        .col-xs-1
        .col-xs-9.equalizer
          .row.row-xs-flex
            .col-xs-6.command-box
              form(role="form", ng-submit="sendCommand()")
                input.form-control.command-box(ng-model="cmd", input-type="commandBoxType", placeholder="Enter a command...", ng-disabled="{{commandBoxDisabled}}")
            .col-xs-6
              h5 Hotkeys
