section.container-fluid.miri
  section.row
    .col-xs-4
      .h1 New Character
    .col-xs-4
      div(ui-view='')
    .col-xs-4
      br
      .panel.panel-default
        .panel-heading
          h3.panel-title Character Overview
        .panel-body
          h5
            | Name
            small {{' ' + character.name}}
          h5 History
          p Short history
          h5 Description
          p Description of my character
