section.container-fluid.miri
  .row
    .col-xs-12
      h1.text-center Characters
  section.row.characters
    .col-xs-2
    .col-xs-4(ng-repeat="n in range(empty) track by $index")
      h4.text-center Empty
      .panel.panel-default
        .panel-body
          p.text-center
            a.btn.btn-success.btn-lg(ui-sref='character-create.history') Create
    .col-xs-4(ng-repeat="character in characters")
      h4.text-center
        | Karthas
        =' '
        small necromancer
      .panel.panel-default
        .panel-body
          dl.dl-horizontal
            dt Current Location
            dd The Miri - Thelun - Dimril Forest
            dt Description
            dd A short, generated description
            dt History
            dd A short, generated history
            dt Highest Skill
            dd Necromancy
          hr
          h6.text-center Other skills
          .row.text-center
            .col-xs-6
              ul.list-unstyled
                li Alchemy
                li Wand
                li Language - Shadow
                li Language - Common
            .col.xs-6
              ul.list-unstyled
                li Chanting
                li Stealth
                li Bonecrafting
                li Intimidation
          hr
          h6.text-center Social
          dl.dl-horizontal
            dt Guild
            dd Executioner's Swath
            dt Spouse
            dd N/A
            dt Alliances
            dd Highest favored factions

          hr
          p.text-center
            button.btn.btn-primary.btn-lg Play
    .col-xs-2

