section.container-fluid.miri
  section.row
    .col-xs-2
    .col-xs-4
      h4.text-center Character 1
    .col-xs-4
      h4.text-center Character 2
      dl.dl-horizontal
        dt Current Location
        dd Sum Cwazy Fowest
        dt Title
        dd Guy who kills rodents
    .col-xs-2

