extends ./layout.jade

block content
  h2 Hello traveler!
  p A request has been made to reset your account password. If you did not make this request, please ignore this email.
  p
    a(href=baseUrl + "/resetpassword/" + user.resetPasswordToken) Click here to reset your password.
