div(style="max-width:600px")
  a(href=baseUrl)
    h1(style="width:100%;text-align:center") Miri Online

  div
    block content

  footer(style="width:100%;text-align:center")
    | Copyright &copy; Jonathon Harrell 2014;
