h1 Miri Online

div
  block content

footer
  | Copyright &copy; Jonathon Harrell 2014;
  | Click
  =' '
  a(href=baseUrl + "/unsubscribe/") here
  =' '
  |  to stop receiving emails from Miri Online.
