extends ./layout.jade

block content
  h3 Hello traveler,
  p
    | Welcome to Miri Online! We're pleased to have you.
    | Head back to the Miri and get started! Be safe in your travels.
    | Please report any issues
    = ' '
    a(href="https://github.com/jonathonharrell/mirionline-issues/issues") here
    | .
