.container
  .row
    .col-sm-4
    .col-sm-4
      h1 Reset Password
      hr
  .row
    .col-sm-4
    .col-sm-4
      form.form(name='form', role='form', ng-submit='resetPassword(form)', novalidate='', ng-hide="success")
        .form-group(ng-class='{ "has-success": form.newPassword.$valid && submitted,\
        "has-error": !form.newPassword.$valid && submitted }')
          label(for="newPass") New Password
          .row
            .col-sm-7
              input.form-control#newPass(type='password', name='newPassword', ng-model='newPassword', ng-minlength='3', required='', ng-show="!showPassword")
              input.form-control(type='text', ng-model='newPassword', ng-show="showPassword")
            .col-sm-5
              div(password-strength="newPassword || ''")
          p.help-block(ng-show='(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)')
            | Password must be at least 3 characters.
          p.help-block(ng-show='errors.newPassword && submitted')
            {{ errors.newPassword }}
        .checkbox
          label(for="showPassword")
            input#showPassword(type="checkbox", ng-model="showPassword")
            | Show Password

        button.btn.btn-lg.btn-primary(type='submit') Save
      p.help-block.has-success(ng-show="success")
        | Password successfully changed. Now you can
        = ' '
        a(ui-sref="login") login
        | .
