div
  .modal-header
    button.close(type='button', data-dismiss='modal', ng-click='$close()')
      span(aria-hidden='true') &times;
      span.sr-only Close
    h3.modal-title Terms and Conditions
  .modal-body
    p Terms and stuff!
