.navbar-nav
  li
    a
      padding-top 5px !important
      padding-bottom 5px !important

.navbar-text
  margin-top 5px !important
  margin-bottom 5px !important

.navbar-brand
  padding-top 5px !important
  padding-bottom 5px !important
  height auto !important

.navbar 
  min-height 20px !important
  margin-bottom 0
  border-radius 0