doctype
html(ng-app='nameApp')
  head
    title Miri Online Name Editor
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    style.
      .list-inline li { margin: 10px }
      .remove { color: red; cursor: pointer }
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.min.js')
    script.
      var app = angular.module('nameApp', []);

      app.controller('NameCtrl', function ($scope, $http) {
        $scope.names = JSON.parse($("#names").html());
        $scope.editing = 'last';
        $scope.$watch('editing', function (val) {
          if (val === 'last') {
            $scope.list = $scope.names.last;
          } else if (val === 'first male') {
            $scope.list = $scope.names.first.male;
          } else if (val === 'first female') {
            $scope.list = $scope.names.first.female;
          }
        });

        $scope.add = function () {
          if ($scope.list.indexOf($scope.newName) !== -1) {
            $scope.error = 'Name already exists!';
            return;
          }
          $scope.error = '';
          $scope.list.push($scope.newName);
          $scope.newName = '';
        };

        $scope.remove = function (name) {
          $scope.list.splice($scope.list.indexOf(name), 1);
          $scope.error = 'Removed!';
        };

        $scope.save = function () {
          $http.post('/save', JSON.stringify($scope.names))
          .success(function () {
            $scope.error = 'Successfully saved names.';
          });
        };

        $scope.generateName = function () {
          $scope.generated = {
            male: _.sample($scope.names.first.male) + ' ' + _.sample($scope.names.last),
            female: _.sample($scope.names.first.female) + ' ' + _.sample($scope.names.last)
          };
        };
      });
  body
    .hide#names=JSON.stringify(names)
    .container
      .row
        .col-xs-3
        .col-xs-6
          h3.text-center Miri Online Tool Suite - Name Editor
          p.text-center.text-muted This tool allows adding, editing and removing names from the list of allowed names.
      .row(ng-controller='NameCtrl')
        .col-xs-4
          .form-group
            a(href='#', ng-click='editing = "first male"') Male First Names
            =" | "
            a(href='#', ng-click='editing = "first female"') Female First Names
            =" | "
            a(href='#', ng-click='editing = "last"') Surnames
          .form-group
            label
              input.form-control(ng-model='nameFilter', placeholder='filter')
          .form-group
            label
              input.form-control(ng-model='newName', placeholder='add a name')
            p.help-block.has-error {{error}}
          .form-group
            button.btn.btn-success(ng-click='add()') Add
            =' '
            button.btn.btn-success(ng-click='save()') Save
          .form-group
            button.btn.btn-primary(ng-click='generateName()') Test Drive
          .form-group
            h4
              | Male:
              =' '
              span.text-muted {{generated.male}}
            h4
              | Female:
              =' '
              span.text-muted {{generated.female}}
        .col-xs-8
          ul.list-inline
            li(ng-repeat='name in list | filter:nameFilter | orderBy: -name')
              | {{name}}
              =' '
              span.remove(ng-click='remove(name)') x
