section.top, div.top
  height 5%
  background #ddd

section.main, div.main
  height 90%
  overflow-y: auto

  .message-container
    overflow hidden
    padding 20px

section.bottom, div.bottom
  height 5%

  .command-box
    padding 10px

// Display flex (equalizer like foundation, only better but with limited browser support)
.row-xs-flex
  display flex
  display -webkit-flex
  display -moz-flex
  display -ms-flex

@media (min-width: 768px)
  .row-sm-flex
    display flex

@media (min-width: 992px)
  .row-md-flex
    display flex

@media (min-width: 1200px)
  .row-lg-flex
    display flex

.equalizer
  height 100%

// Messages
.message
  padding-bottom 10px

.system-message
  color #aaa

.system-chat
  color green
  font-weight bold
